<section class="hero inicial-page is-medium">
  {{> header}}
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 slogan">
        <p>Conhecimento</p>
        <p>para todos!</p>
      </h1>
      <a class="button is-primary is-large" href="/#courses">Comece Já</a>
    </div>
  </div>
</section>
<section class="hero is-primary is-small">
  <div class="columns hero-body is-mobile is-tablet is-widescreen" style= "justify-content: space-between" >

    <div class="columns">
      <div class="column is-two-thirds" >
      <a href="/#courses"><p class="heading">
        <p class="level-right">
          <figure class="image is-48x48 margin-icon">
            <img src="../images/free.png">
          </figure>
        </p>
      </div>
      <div class="column  " >
        <p class="subtitle is-6 has-text-centered is-hidden-mobile" >Cursos de programação gratuitos</a></p>
      </div>
    </div>


    <div class="columns ">

        <a href="/#courses"><p class="heading">
          <div class="column">
          <p >
            <figure class="image is-48x48 margin-icon" >
              <img src="../images/monitor.png" >
            </figure>
          </p>
        </div>
        <div class="column" >
          <p  class="subtitle is-6 has-text-centered is-hidden-mobile">Programe-se para aprender</a></p>
        </div>
        </div>


        <div class="columns ">
          <a href="/#courses"><p class="heading">
            <div class="column">
            <p>
              <figure class="image is-48x48 margin-icon">
                <img src="../images/brasil.png">
              </figure>
            </p>
          </div>
            <div class="column is-two-thirds">
            <p class="subtitle is-6 has-text-centered is-hidden-mobile">Conteúdos de qualidade em português </a></p>
          </div>
        </div>


    </div>
  </section>
