<table class="table">
  <tr>
    <th>Nome da aula</th>
    <th></th>
  </tr>
  {{#allContents}}
  <tr>
    <td>{{title}}</td>
    <td>
      <button type="button" name="delete">Delete</button>
      <button type="button" name="delete">Edit</button>
    </td>
  </tr>
  {{/allContents}}
</table>
