<html>
<head>
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css.map">
</head>
<body>
  {{> header}}
  <div class="content">
    <div class="top">
      {{> top}}
    </div>

    <div class="middle">
      {{> middle}}
    </div>

    <div class="bottom">
      {{> bottom}}
    </div>
  </div>
</body>
</html>
